<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Resultados de Búsqueda</h1>
    <ul>
        {% for pelicula in peliculas_encontradas %}
            <li>{{ pelicula.titulo }} ({{ pelicula.genero }})</li>
        {% empty %}
            <li style="list-style: none;">No se encontraron películas.</li>
        {% endfor %}
    </ul>
</body>
</html>